<!DOCTYPE html>
<html>

<head>
  <title>Get Data</title>
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" />
</head>

<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>

</html>